#!KAMAILIO

### Загрузка модулей ###
loadmodule "kex.so"
loadmodule "tm.so"
loadmodule "sl.so"
loadmodule "rr.so"
loadmodule "maxfwd.so"
loadmodule "usrloc.so"
loadmodule "pv.so"
loadmodule "registrar.so"
loadmodule "nathelper.so"
loadmodule "xlog.so"
loadmodule "textops.so"
loadmodule "http_client.so"
loadmodule "dialog.so"
loadmodule "siputils.so"
loadmodule "rtpengine.so"

### Настройки модулей ###
modparam("usrloc", "db_mode", 0)
modparam("usrloc", "nat_bflag", 6)
modparam("dialog", "default_timeout", 100)
modparam("registrar", "method_filtering", 0)
modparam("registrar", "received_avp", "$avp(rcv)")
modparam("nathelper", "ping_nated_only", 1)
modparam("nathelper", "natping_interval", 30)
modparam("nathelper", "sipping_method", "OPTIONS")
modparam("nathelper", "received_avp", "$avp(rcv)")
modparam("rtpengine", "rtpengine_sock", "udp:127.0.0.1:4444")

log_stderror=yes
debug=2

### Основной маршрут ###
route {
    # Проверка Max-Forwards
    if (!mf_process_maxfwd_header("10")) {
        sl_send_reply("483", "Too Many Hops");
        exit;
    }

    # Проверка NAT для клиента (UAC)
    if (nat_uac_test("19")) {
        if (method=="REGISTER") {
            fix_nated_register();
            setbflag(6);
        } else {
            fix_nated_contact();
            setbflag(6);
        }
    }

    # Обработка REGISTER
    if (method=="REGISTER") {
        if (!save("location")) sl_reply_error();
        exit;
    }

    # Обработка INVITE
    if (method == "INVITE") {
        xlog("L_INFO", "[THUNDERVOX] Time: [$Tf] INVITE from $si to $ru with SDP body:\n$rb\n");

        if (!has_totag() && $si == "178.74.67.30") {
            # Получаем параметры диалога
            $var(ci) = $ci;
            $var(ft) = $ft;

            # Получаем статус отправки пуша
            dlg_get_var("$var(ci)", "$var(ft)", "", "push_sent", "$var(push_sent)");

            if ($var(push_sent) != "2") {
                # Формируем тело и заголовки HTTP-запроса
                $var(service_token) = "REDACTED";
                $var(hdrs) = "User-Agent: Modus Asterisk Server Client\r\nX-SERVICE-TOKEN: $var(service_token)\r\nContent-Type: application/json";
                $var(to) = "1001";
                $var(from) = "modus-services.ru:8082";
                $var(sip_ip) = "188.225.72.135";
                $var(call_id) = $ci;
                $var(body) = "{\"to\":\"" + $var(to) + "\",\"from\":\"" + $var(from) + "\",\"sip_ip\":\"" + $var(sip_ip) + "\",\"call_id\":\"" + $var(call_id) + "\"}";
                $var(resp) = "";

                http_client_request("POST", "http://testapi.modus-omsk.ru:8081/api/sip/test", "$var(body)", "$var(hdrs)", "$var(resp)");

                xlog("L_INFO", "[THUNDERVOX] Time: [$Tf] Push wit body $var(body) just sent, response is $var(resp)\n");

                dlg_set_var("$var(ci)", "$var(ft)", "", "push_sent", "2");
            }
        }

        dlg_manage();
        record_route();

        if (!rtpengine_manage("replace-origin replace-session-connection ICE=remove RTP/AVP ICE=force")) {
            xlog("L_ERR", "RTPENGINE FAILED for INVITE\n");
            sl_reply_error();
            exit;
        }


        if (!lookup("location")) { sl_send_reply("404","User Not Found"); exit;}

        route(RELAY);
        exit;
    }

    if (status=="200" && is_method("INVITE")) {
        if (!rtpengine_manage("replace-origin replace-session-connection ICE=remove RTP/AVP ICE=force")) {
            xlog("L_ERR", "RTPENGINE FAILED for INVITE\n");
            sl_reply_error();
            exit;
        }
    }

    # Обработка ACK
    if (method == "ACK") {
        xlog("L_INFO", "[THUNDERVOX] Time: [$Tf] Received ACK, updating call state from $si to $ru\n");
        dlg_manage();

        exit;
    }

    # Обработка BYE и CANCEL
    if (method=="BYE" || method=="CANCEL") {
        if (isflagset(6)) {
            if (!rtpengine_manage()) {
            sl_reply_error();
            exit;
            }
        }
        route(RELAY);
        exit;
    }

    # Все остальные методы - Method Not Allowed
    sl_send_reply("405", "Method Not Allowed");
}

route[RELAY] {
    if (!t_relay()) {
        sl_reply_error();
    }
    exit;
}
